/* ================================= */
/* Animaciones */
/* ================================= */
/* Agregar en un futuro animaciones para imagenes de redes sociales. */
.grid-item:hover .imagenAreaPrincipal {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    transition-duration: .7s;
}
.imagenAreaPrincipal {
    overflow:hidden;
}




/* ******************** */
/* ANIMACIONES PLUS */
/* ******************** */

/* ******************** */
/* Barra scroll */
/* ******************** */
.barra::-webkit-scrollbar {
	width: 12px;
}
.barra::-webkit-scrollbar-thumb {
	background: $dark-slate-blue;
	border-radius: 5px;
}
/* *************************** */
/* Burbujas header */
/* *************************** */
.bg_animate {
    width: 100%;
    height: 60vh;
    /* background: linear-gradient(
        to right, 
        $dark-slate-blue, 
        $china-pink
        ); */
    position: relative;
    overflow: hidden;
}
.burbuja {
    border-radius: 50%;
    box-shadow: 0 0 15px $cultured;
    background: $cultured;
    opacity: .3;

    position: absolute;
    bottom: -20vh;

    animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}
.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}
.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}
.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}
.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}
.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 65%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}
.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}
.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas {
    0%{
        bottom: 0;
        opacity: 0;
    }
    30% {
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 80vh;
    }
}
/* ******************************** */
/* Cambio de color menues del menu. */
/* ******************************** */
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: $glaucous;
    font-weight: bolder;
    background-color: $cultured;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover {
    color: $cultured;
    background-color: $glaucous;
    box-shadow: 0 0 25px $cultured;
}
.navbar-light .navbar-brand:hover {
    color: $glaucous;
}
/* ************* */
/* Fadein header */
/* ************* */
/* .areaEncabezado {
    animation: fadeIn 3s:
}
@keyframes fadeIn {
    0% { 
        opacity: 0; 
        filter: brightness(1) blur(20px) 
    }
    10% { 
        opacity: 1; 
        filter: brightness(2) blur(10px) 
    }
    100% { 
        opacity: 1; 
        filter: brightness(1) blur(0) 
    }
} */
/* ********************** */
/* Offset (fuera de foco) */
/* Eliminarlo del responsive */
/* ********************** */
.hechoPor span{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // gap: 1;
    cursor: pointer;
    filter: blur(3px);
    transition: 0.2s;
        &:hover {
            filter: blur(0px);
            transition: 0s;
            border: 1px solid $cultured;
            box-shadow: 0 0 55px $granny-smith-apple;
        }
}
<<<<<<< HEAD
/* ************************************************************** */
/* Agregar animación typing en el menu una vez pueda mergear. *** */
/* Mergear ramaSegundaEntrega y ramaSass una vez estén aprobadas. */
/* Resolver menu responsive completamente.*********************** */
/* Resolver responsive bootstrap en aboutUs y contactUs.********* */
/* ************************************************************** */

=======






/* La siguiente animación la he hecho en otra rama, con nombre ramaTyping. Ha funcionado pero a la hora de realizar el merge desde ramaSegundaEntrega me surge conflicto. He revisado el codigo pero no he visto ningun error. Solo la agrego comentada para revisarla a futuro. */
/* *********** */
/* Meny typing */
/* *********** */
// .navbar-brand {
//     white-space: nowrap;
//     border-right: 4px solid white;
//     width: 20ch;
//     height: 80%;
//     animation: 
//         typing 2s steps(20),
//         blink .5s infinite step-end alternate,
//         desaparecer 2s ;
//     overflow: hidden;
// }
// @keyframes typing {
//     from {
//         width: 0;
//     }
// }
// @keyframes blink {
//     50% {
//         border-color: transparent;
//     }
// }
// @keyframes desaparecer {
//     100% {
//         border-color: transparent;
//     }
// }
>>>>>>> ramaSass
